<section
  class="flex flex-col items-center h-screen py-12 md:py-24 lg:py-32 xl:py-48 text-color1"
>
  <div>
    <p>Contacto</p>
    <h1>¡Hablemos de tu proyecto!</h1>
    <p>
      ¿Tienes un proyecto en mente o quieres colaborar? Estoy a solo un mensaje
      de distancia
    </p>
  </div>
  <div class="flex">
    <div class="text-color1 p-8 rounded-lg w-96">
      <h2 class="text-2xl font-semibold mb-6">Información de contacto</h2>
      <div class="mb-4 flex items-center">
        <img
          class="rounded-full bg-cyan-900 p-2 mr-2"
          src="images/mail.svg"
          alt=""
        />
        <div>
          <p class="font-medium">Email</p>
          <a href="mailto:sa.an.or.pu@gmail.com">sa.an.or.pu@gmail.com</a>
        </div>
      </div>
      <div class="mb-4 flex items-center">
        <img
          class="rounded-full bg-cyan-900 p-2 mr-2"
          src="images/phone.svg"
          alt=""
        />
        <div>
          <p class="font-medium">Télefono</p>
          <a href="mailto:sa.an.or.pu@gmail.com">+57 322 359 8246</a>
        </div>
      </div>
      <div class="mb-4 flex items-center">
        <img
          class="rounded-full bg-cyan-900 p-2 mr-2"
          src="images/location.svg"
          alt=""
        />
        <div>
          <p>Ubicación</p>
          <h1>Neiva, Colombia</h1>
        </div>
      </div>
      <div>
        <p class="font-medium mb-2">Sígueme en</p>
        <div class="flex space-x-4">
          <a href=""
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"
              ><path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"
              ></path></svg
            ></a
          >
          <a href=""
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"
              ><circle cx="4.983" cy="5.009" r="2.188"></circle><path
                d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z"
              ></path></svg
            ></a
          >
        </div>
      </div>
    </div>
    <div class=" text-white p-8 rounded-lg w-96">
        <h2 class="text-2xl font-semibold mb-6">Enviame un Mensaje</h2>
      
        <form>
          <div class="mb-4">
            <label for="nombre" class="block mb-2">Tu nombre</label>
            <input type="text" id="nombre" class="w-full bg-gray-700 rounded-md p-2" placeholder="Ingresa tu nombre">
          </div>
      
          <div class="mb-4">
            <label for="email" class="block mb-2">Tu email</label>
            <input type="email" id="email" class="w-full bg-gray-700 rounded-md p-2" placeholder="Ingresa tu email">
          </div>
      
          <div class="mb-6">
            <label for="mensaje" class="block mb-2">Tu mensaje</label>
            <textarea id="mensaje" class="w-full bg-gray-700 rounded-md p-2" rows="4" placeholder="Escribe tu mensaje"></textarea>
          </div>
      
          <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 rounded-md w-full flex items-center justify-center">
            <svg class="h-5 w-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path></svg>
            Enviar Mensaje
          </button>
        </form>
      </div>
  </div>
</section>
