<header class="sticky top-0 z-50 w-full bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60">
  <div class="flex justify-center items-center h-16 text-color1">
    <nav class="hidden md:flex gap-6 pr-10">
      <a href="/Inicio">Inicio</a>
      <a href="#AboutMe">Sobre Mí</a>
      <a href='/Proyects""'>Proyectos</a>
      <a href="#Contact">Contáctame</a>
    </nav>
  </div>
</header>
